*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footerDiv {
  height: 50px;
  background-color: grey;
}

.contactLink {
  float:right;
  margin-top:20px;
  margin-right:20px;
}

.footerDiv a{
  text-decoration: none;
  color:#000;
  pointer:cursor;
}
