.listStyle{
  list-style-type:none;
  font-size:20px;
  height:100px;
  padding:10px;
}

.btnStyle{
  float:right;
  margin-top:20px;
  width: 70px;
  height:20px;
  border-radius: 5px;
}
.contentStyle{
  display:inline-block;
  margin-top:25px;
  margin-left:25px;
}

.centerItem {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -35%);
}

.renderedList {
  width: 600px;
  padding:20px;
}

.partitionStyle {
  height: 15px;
  background-color: rgba(128, 128, 128, 0.27);
  border: none;
}

.centerAlign {
  text-align: center;
}

.msgAlign {
  margin-top:20px;
  float: right;
}

.imgStyle {
    float: left;
    width: 100px;
    height: 80px;
    border:none;
}
