* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

.centerAlign {
  width: 700px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px;
}

.partitionStyle {
  height: 10px;
  background-color: #D3D3D3;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eleAlign {
  display: inline-block;
  width:25%;
}

.choreAlign {
  margin-top: 10px;
}

.appRejButton {
    width: 100px;
    height: 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.appBtnStyle {
  margin-right:10px;
  background-color: #0080ff;
}

.appBtnStyle:disabled {
  background-color: grey;
  cursor: default;
}

.rejBtnStyle {
  background-color: #ff0000;
}

.imgStyle {
    float: left;
    width: 100px;
    height: 80px;
    border:none;
}

.checkAlign {
  float: left;
  width: 25%;
  margin-top: 20px;
}

.listCompleteStyle {
    list-style-type: none;
    font-size: 20px;
    height: 75px;
    padding: 10px;
}

.choreCompleteList {
  margin: 0 auto;
  padding: 0;
}
